.box{


  position: absolute;
  left :30vw;
  top:30vh;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 20px -20px 100px 0px rgba(34, 35,218, 0.6),
  -20px 20px 100px 0px rgba(220,55,120,0.6);
  padding: 3rem;
}
.heading{
  text-align: center;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}
.input1{
  width: 200px;
}
.input2{
  width: 200px;
}
 .buttons{
  


}
button{
  background-color: black;
  color: white;
  margin-left: 60px;

}
.result{
  text-align: center;
  margin-top: 10px;
}

.errors{
  text-align: center;
  margin-top: 20px;
}